{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.7.0"},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {jwerl, "1.1.0"},
    {bcrypt, {git, "https://github.com/erlangpack/bcrypt.git", {tag, "1.0.2"}}}
]}.

{
    alias, [{check, [eunit]}]
}.

{shell, [
    {config, "config/app.config"},
    {apps, [companyk]}
]}.

{profiles, [
    {prod, [
        {shell, [
            {config, "config/app.config"},
            {apps, [companyk]}
        ]}
    ]},
    {test1, [
        {shell, [
            {config, "config/test.config"},
            {apps, [companyk]}
        ]}
    ]}
]}.
